.try-again-container{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}
.try-again-container >h1{
    text-decoration: underline ;
    margin: 0px;
    font-size: 36px;
    margin-bottom: 20px ;
}

.test-result > p {
 font-size: 20px;
 margin: 7px;
}

.start-again-button{
    position:  relative;
    margin: 12px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #3f8199;
    min-width: 64px;
    padding: 2px 12px;
    vertical-align: middle;
    text-align: center ;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0 1px 3px rgba(0 , 0 , 0 ,0.12) , 0 1px 3px rgba(0 , 0 , 0 ,0.12);
    cursor: pointer ;
}

.start-again-button:hover{
    background-color: #5d97ac;
}
