.Typing-challenge-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1 ;
}
.details-container{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap:wrap ;
    margin-top: 3px;

}
.-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
