.footer-container {
  text-align: center;
}

.footer-container:hover {
  color: #000;
}
.footer-container a {
  text-decoration: none;
}

.footer-link {
  color: #eee2ee;
  font-size: 25px;
}

.footer-link:hover {
  color: black;
}
.fa {
  color: red;
}
